# Ignorar carpetas donde se almacenan las imagenes de las firmas
XMLHttpRequest/FirmasDeClientes/uploads/
# Ignorar carpetas donde se almacenan los reportes
cliente_flash_reportes/files/
# Ignorar carpetas temporales de sesiones
tmp/