:root {
  --color-principal: #1F7CBF;
  --color-secundario: #F4F4F4;
  --color-input: #8D8D8D;
  --color-icono-input: #828282;
  --color-error: #FF0000;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/Gilroy/Gilroy-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/Gilroy/Gilroy-SemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/Gilroy/Gilroy-ExtraBold.woff2) format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400; /* Regular por defecto */
  font-size: 14px;
}

.login {
  background-color: #fff !important;
}

.login .contenedor-logo{
  text-align: center;
  margin-top: 20px;
}

.login .logo-flash{
  height: 7.5rem;
  text-align: center;
}

.login .bg-login {
  background-image: url('../../Styles/login/bg_login.webp');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.login .titulo {
  font-family: 'Gilroy', sans-serif;
  font-size: 2rem;
  font-weight: 800; /* ExtraBold */
  color: var(--color-principal);
  margin-bottom: 1.5rem;
}

.login .form-group label {
  font-size: 1.1rem;
  font-weight: 600; /* SemiBold */
  color: black;
}

.login .form-group input[type="text"],
.login .form-group input[type="password"] {
  height: 43px;
  border: 1px solid var(--color-input) !important;
  border-radius: 4px !important;
  font-size: 1rem;
} 

.login .form-group input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  margin-bottom: 6px;
}

.login .form-group .btn{
  height: 50px;
  border: none;
  font-size: 1.1rem;
  font-weight: 800; /* ExtraBold */
  border-radius: 4px !important;
}

.btn-primary{
  background-color: var(--color-principal) !important; 
  border-color: var(--color-principal) !important;
}

.login .form-group a {
  color: var(--color-principal);
  font-size: 1rem;
  text-decoration: underline;
}

.position-relative {
  position: relative;
}

.login .form-group .icon-eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--color-icono-input);
}

.login .login-error{
  font-size: 1rem;
  color: var(--color-error);
  text-align: center;
  margin: .75rem 0;
}