:root {
  --color: #064688;
  --color-principal: #1f7cbf;
  --color-secundario: #f4f4f4;
  --color-input: #8d8d8d;
  --color-icono-input: #828282;
  --color-error: #ff0000;
  --color-blanco: #ffffff;
  --borde-menu: #f5f5f5;
  --altura-header: 6rem;
  --desplazamiento-min: 0px;
  --desplazamiento-max: 250px;
  --width-sidebar-escondido: 80px;
}

@font-face {
  font-family: "Gilroy";
  src: url(../../fonts/Gilroy/Gilroy-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url(../../fonts/Gilroy/Gilroy-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url(../../fonts/Gilroy/Gilroy-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--color-secundario) !important;
  position: relative;
  font-family: "Gilroy", sans-serif !important;
  font-weight: 400; /* Regular por defecto */
  font-size: 14px;
}

.content-wrapper {
  background-color: inherit;
}

#logo {
  height: 3.5rem;
}

#logoChico img {
  width: 55px;
}

.bg-principal {
  background-color: var(--color-blanco) !important;
}

.color-principal {
  color: var(--color-blanco) !important;
}

.nav-link p {
  color: black !important;
}

.nav-sidebar .nav-item > .nav-link {
  margin-bottom: 0 !important;
}

.nav-header {
  color: black !important;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px !important;
}

.nav-header p {
  font-size: 1.2rem;
}

.sidebar a {
  color: white !important;
}

.sidebar .nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--borde-menu);
}

.sidebar .nav-link p {
  flex-grow: 1;
  font-size: 0.9rem;
  font-weight: 600;
}

.sidebar .arrow {
  transition: transform 0.3s ease;
}

.sidebar .menu-open .arrow {
  transform: rotate(180deg);
}

.border-top {
  border-top: 1px solid rgb(228, 224, 224);
}

.tfood {
  display: table-header-group;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.altura-wrapper-auto {
  height: auto;
  min-height: auto !important;
}

.alert-centrado {
  position: fixed;
  z-index: 2;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.os-content {
  padding: 0 !important;
}

.nav-sidebar .nav-item {
  padding: 0 5px !important;
}

.nav-sidebar .nav-item a {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.nav-sidebar .nav-link:active {
  background-color: var(--color-secundario) !important;
}

.img-inicio {
  max-width: 300px;
}

.titulo-principal {
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--color-principal);
}

.subtitulo {
  font-weight: 400;
  font-size: 1.2rem;
}

.footer p {
  text-align: center;
  color: black;
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 0.85rem;
}

nav.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid var(--color-input);
}

.main-header {
  height: var(--altura-header) !important;
}

.layout-fixed .main-sidebar {
  top: var(--altura-header) !important;
}

.img-logo-navbar {
  height: 3.2em;
  width: auto;
  margin-right: 2rem;
}

.text-plataforma {
  color: var(--color-principal);
  font-weight: 600;
  font-size: 1.2rem;
}

.nav-user {
  font-size: 1rem;
  color: black;
  font-weight: 600;
}

.btn-logout {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 800;
}

.btn-logout:hover {
  background-color: #333333;
  color: white;
  text-decoration: none;
}

li.menu-activo {
  background-color: var(--color-secundario) !important;
}

.contenido-principal {
  margin-top: calc(var(--altura-header) + 1rem);
  transition: padding-left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/*
  CARTA DOCUMENTO
*/
.gap-1{
  gap: 0.25rem !important;
}
.gap-2{
  gap: 0.5rem !important;
}
.gap-3{
  gap: 1rem !important;
}
.gap-4{
  gap: 1.5rem !important;
}
.gap-5{
  gap: 3rem !important;
}

.card {
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.card .card-header {
  background-color: var(--color-principal);
  color: white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid var(--color-principal);
  font-size: 1.2rem;
  font-weight: 600;
}

.form-titulo-seccion {
  font-size: 1.1rem;
  font-weight: 600 !important; /* SemiBold */
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.form-group label {
  font-size: 0.9rem;
  font-weight: 600; /* SemiBold */
  color: black;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="number"],
.form-group input[type="email"],
.form-group textarea,
.form-group select {
  height: 43px;
  border: 1px solid var(--color-input) !important;
  border-radius: 4px !important;
  font-size: 1rem;
}

.form-group input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  margin-bottom: 6px;
}

.form-group .btn {
  height: 50px;
  border: none;
  font-size: 1.1rem;
  font-weight: 800; /* ExtraBold */
  border-radius: 4px !important;
}

.btn-primary {
  background-color: var(--color-principal) !important;
  border-color: var(--color-principal) !important;
}

.form-group a {
  color: var(--color-principal);
  font-size: 1rem;
  text-decoration: underline;
}

select.select-2 + .select2-container .select2-selection--single {
  height: 43px !important;
  border: 1px solid var(--color-input) !important;
  border-radius: 4px !important;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

select.select-2 + .select2-container .select2-selection__rendered {
  line-height: 43px !important;
  padding-left: 8px;
}

select.select-2 + .select2-container .select2-selection__arrow {
  height: 43px !important;
  transform: translateY(-60%) !important;
}

.requerido {
  color: var(--color-error);
  margin-left: 2px;
}

.wrapper {
  margin: 1em auto;
  text-align: left;
}
.sample {
  border: 1px solid #eeeeee;
  background: #ffffff;
  max-width: 30em;
  padding: 1em;
  margin-bottom: 1em;
}
.custom-select {
  position: relative;
}
.select-css {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: inset 0 0 0 transparent;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 43px;
  border: 1px solid var(--color-input) !important;
  border-radius: 4px !important;
  font-size: 1rem;
  font-family: inherit;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  color: #222;
  outline: none;
}

.custom-select-icons {
  position: absolute;
  z-index: 20;
  border: 1px solid white;
  background: transparent;
  top: 50%;
  right: 1rem;
  transform: translateY(-37%);
}

.custom-select-options {
  border: 1px solid var(--color-input) !important;
  border-radius: 4px !important;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: normal;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  /* width: calc(100% - 1px); */
  width: 100%;
  background-color: #ffffff;
  padding: 3rem 1rem 1rem 1rem;
  left: 0;
  top: 0px;
}
.custom-select-options li {
  padding: 1px;
  font-size: 8px;
}
.custom-select-options li:hover {
  background: var(--color-principal);
  color: #fff;
  border: 1px solid var(--color-principal);
  border-width: 0 0 0 1px;
}

.custom-select-options li:focus {
  border: 2px var(--color-principal);
}

.custom-select-options li.linck {
  padding: 1px;
  font-size: 8px;
  background: #eeeeee;
  color: var(--color-input);
  border: 1px solid #eeeeee;
  border-width: 0 0 0 1px;
}
.custom-select-options li.linck:hover {
  background: var(--color-principal);
  color: #fff;
  border: 1px solid var(--color-principal);
  border-width: 0 0 0 1px;
}
.custom-select-options li.linck:focus {
  border: 2px var(--color-principal);
}

.icon {
  fill: ButtonText;
  pointer-events: none;
}
@media screen and (-ms-high-contrast: active) {
  .icon {
    fill: ButtonText;
  }
}
.hidden-all {
  display: none;
}
.hidden-visually {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.textBox{
  border-color: black;
  min-height: 300px;
  border: 1px solid var(--color-input);
  border-radius: 4px !important;
  padding: 1rem;
}

.btn-black{
  background-color: black !important;
  color: white !important;
  border: none !important;
  font-weight: bold !important;
}

.btn-black:hover{
  background-color: #333333 !important;
  color: white !important;
  text-decoration: none !important;
}

/*
 * MEDIA QUERYS
 */

@media (min-width: 768px) {
  body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav)
    .content-wrapper,
  body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav)
    .main-footer,
  body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav)
    .main-header {
    /* Hack por diseño de layout */
    margin-left: var(--desplazamiento-min) !important;
  }

  .footer p {
    text-align: right;
    font-size: 1.2rem;
  }

  .card-body {
    padding: 2rem !important;
  }
}

@media (min-width: 1024px) {
  .titulo-principal {
    font-size: 2.7rem;
  }

  .subtitulo {
    font-size: 1.5rem;
  }

  .contenido-principal {
    padding-left: var(--desplazamiento-max);
    margin-top: calc(var(--altura-header) + 1rem);
  }

  /* Para el desplazamiento al ocultar parcialmente el menu */
  .sidebar-collapse .contenido-principal {
    padding-left: var(--width-sidebar-escondido) !important;
  }

  /* Para ocultar las flechas al ocultar pacialmnte el menu */
  .sidebar-collapse .sidebar .arrow {
    display: none;
  }

  .sidebar-collapse .nav-header p {
    display: none;
  }

  .footer p {
    font-size: 0.9rem;
    /* Hack por diseño de layout */
    padding-right: var(--desplazamiento-min) !important;
  }

  .card-body {
    padding: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .titulo-principal {
    font-size: 2.8rem;
  }

  .subtitulo {
    font-size: 1.6rem;
  }

  .card-body {
    padding: 3rem 5rem !important;
  }
}
