:root {
  --color: #064688;
  --color-principal: #1f7cbf;
  --color-secundario: #f4f4f4;
  --color-input: #8d8d8d;
  --color-icono-input: #828282;
  --color-error: #ff0000;
  --color-blanco: #ffffff;
  --borde-menu: #f5f5f5;
  --altura-header: 6rem;
  --desplazamiento-min: 0px;
  --desplazamiento-max: 250px;
  --width-sidebar-escondido: 80px;
}

@font-face {
  font-family: "Gilroy";
  src: url(../../fonts/Gilroy/Gilroy-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url(../../fonts/Gilroy/Gilroy-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url(../../fonts/Gilroy/Gilroy-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--color-secundario);
  position: relative;
  font-family: "Gilroy", sans-serif;
  font-weight: 400; /* Regular por defecto */
  font-size: 14px;
}

.content-wrapper {
  background-color: inherit;
}

#logo {
  height: 3.5rem;
}

#logoChico img {
  width: 55px;
}

.bg-principal {
  background-color: var(--color-blanco) !important;
}

.color-principal {
  color: var(--color-blanco) !important;
}

.nav-link p {
  color: black !important;
}

.nav-sidebar .nav-item > .nav-link {
  margin-bottom: 0 !important;
}

.nav-header {
  color: black !important;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px !important;
}

.nav-header p {
  font-size: 1.2rem;
}

.sidebar a {
  color: white !important;
}

.sidebar .nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--borde-menu);
}

.sidebar .nav-link p {
  flex-grow: 1;
  font-size: 0.9rem;
  font-weight: 600;
}

.sidebar .arrow {
  transition: transform 0.3s ease;
}

.sidebar .menu-open .arrow {
  transform: rotate(180deg);
}

.border-top {
  border-top: 1px solid rgb(228, 224, 224);
}

.tfood {
  display: table-header-group;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.altura-wrapper-auto {
  height: auto;
  min-height: auto !important;
}

.alert-centrado {
  position: fixed;
  z-index: 2;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.os-content {
  padding: 0 !important;
}

.nav-sidebar .nav-item {
  padding: 0 5px !important;
}

.nav-sidebar .nav-item a {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.nav-sidebar .nav-link:active {
  background-color: var(--color-secundario) !important;
}

.img-inicio {
  max-width: 300px;
}

.titulo-principal {
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--color-principal);
}

.subtitulo {
  font-weight: 400;
  font-size: 1.2rem;
}

.footer p {
  text-align: center;
  color: black;
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 0.85rem;
}

nav.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid var(--color-input);
}

.main-header {
  height: var(--altura-header) !important;
}

.layout-fixed .main-sidebar {
  top: var(--altura-header) !important;
}

.img-logo-navbar {
  height: 3.2em;
  width: auto;
  margin-right: 2rem;
}

.text-plataforma {
  color: var(--color-principal);
  font-weight: 600;
  font-size: 1.2rem;
}

.nav-user {
  font-size: 1rem;
  color: black;
  font-weight: 600;
}

.btn-logout {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 800;
}

.btn-logout:hover {
  background-color: #333333;
  color: white;
  text-decoration: none;
}

li.menu-activo {
  background-color: var(--color-secundario) !important;
}

.contenido-principal {
  margin-top: calc(var(--altura-header) + 1rem);
  transition: padding-left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/*
 * MEDIA QUERYS
 */

@media (min-width: 768px) {
  body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav)
    .content-wrapper,
  body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav)
    .main-footer,
  body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav)
    .main-header {
    /* Hack por diseño de layout */
    margin-left: var(--desplazamiento-min) !important;
  }

  .footer p {
    text-align: right;
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .titulo-principal {
    font-size: 2.7rem;
  }

  .subtitulo {
    font-size: 1.5rem;
  }

  .contenido-principal {
    padding-left: var(--desplazamiento-max);
    margin-top: calc(var(--altura-header) + 1rem);
  }

  /* Para el desplazamiento al ocultar parcialmente el menu */
  .sidebar-collapse .contenido-principal {
    padding-left: var(--width-sidebar-escondido) !important;
  }

  /* Para ocultar las flechas al ocultar pacialmnte el menu */
  .sidebar-collapse .sidebar .arrow {
    display: none;
  }

  .sidebar-collapse .nav-header p {
    display: none;
  }

  .footer p {
    font-size: 0.9rem;
    /* Hack por diseño de layout */
    padding-right: var(--desplazamiento-min) !important;
  }
}

@media (min-width: 1200px) {
  .titulo-principal {
    font-size: 2.8rem;
  }

  .subtitulo {
    font-size: 1.6rem;
  }
}
