:root{
    --color: #064688;
}

body{
    background-color: #f4f6f9;
    position: relative;
}

.content-wrapper{
    background-color: inherit;
}

#logo{
    height: 3.5rem;
}

#logoChico img{
    width: 55px;
}

.bg-principal{
    background-color: var(--color)!important;
}

.color-principal{
    color: var(--color)!important;
}

.nav-header {
    color: white!important;
    font-weight: bold;
}

.sidebar a {
    color: white!important;
}

.border-top{
    border-top: 1px solid rgb(228, 224, 224);
}

.tfood {
    display: table-header-group;
}

.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}

.altura-wrapper-auto{
    height: auto;
    min-height: auto!important;
}

#loading {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10062;
	width: 100vw;
	height: 100vh;
    background-color: #00a98654;
	background-image: url("cargando.gif");
	background-repeat: no-repeat;
	background-position: center;
}

.alert-centrado{
    position: fixed;
    z-index: 2;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}


/*
 * MEDIA QUERYS
 */

